.table-header {
    position: relative;
    margin: 0 20vw;
    width: 78.72vw;
    height: 15vw;
    background-color: rgb(228, 198, 183);
}

.table-header-inside {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 2vw;
    height: 74%;
}

.table-header-left {
    width: 20vw;
    height: 11.1vw;
}

.table-header-right {
    width: 23vw;
    height: 3vw;
    display: flex;
    margin: 2.9vw 0;
    justify-content: space-between;
}

.table-header-title {
    margin: 1vw 0 0 0;
    font-size: 1.5vw;
    line-height: 3vw;
    color: rgb(51, 51, 51);
}

.table-header-title-sub {
    font-size: 1vw;
    color: rgb(85, 85, 85);
    line-height: 3vw;
}

.table-header-manage-btn {
    text-decoration: none;
    padding: 0.6vw 2vw;
    border: 0.15vw solid #fff;
    color: #fff;
    background-color: transparent;
    font-size: 1.1vw;
    border-radius: 1.9vw;
    transition: 0.25s;
}

.table-header-manage-btn:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

.table-header-add-btn {
    width: 13vw;
    font-size: 1.1vw;
    height: 3vw;
    margin: 0 0 0 1vw;
    border: none;
    background-color: rgb(250, 236, 229);
    transition: 0.25s;
    border-radius: 1.9vw;
}

.table-header-add-btn:hover {
    background-color: #c56e17;
    cursor: pointer;
    color: #fff;
}

.table-basic {
    margin: -5vw 22.1vw;
    position: relative;
    width: 74.7vw;
    border-radius: 1.9vw;
    background-color: rgb(250, 236, 229);
    height: 62.6vw;
    box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 20%);
}

.table-basic-header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 94.5%;
    height: 20%;
    margin: 2vw;
}

.table-basic-header-title {
    width: 40%;
    height: 100%;
}

.table-basic-title {
    font-size: 1.5vw;
    line-height: 3vw;
    color: rgb(51, 51, 51);
}

.table-basic-title-sub {
    font-size: 1vw;
    color: rgb(85, 85, 85);
    line-height: 3vw;
}

.table-basic-header-btn {
    display: flex;
    margin: 2.6vw 0;
    justify-content: space-between;
    align-items: center;
    width: 27.5%;
    height: 2.2vw;
}

.table-basic-header-btn-search {
    font-size: 1.3vw;
    color: rgb(51, 51, 51);
}

.table-basic-header-btn-search-input {
    height: 2.2vw;
    padding: 0.5vw 0.7vw;
    border: none;
    outline: none;
    border-radius: 1.9vw;
    font-size: 1vw;
    transition: 0.25s;
}

.table-basic-header-btn-search-input:focus {
    border: 0.2vw solid #c56e17;
    transition: 0.25s;
}

.table-basic-content {
    position: absolute;
    width: 94.5%;
    height: 51vw;
    background-color: #fff;
    margin: 10vw 2vw;
    border-radius: 1.9vw;
    overflow-x:hidden;
    overflow-y: auto;
}

.table-basic-content::-webkit-scrollbar {
    width: 0.6vw;
    background-color: #F5F5F5;
} 

.table-basic-content::-webkit-scrollbar-thumb {
    background-color: #c56e17;
    border-radius: 1vw;
}

.table-basic-content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #fff;
}

.table-basic-content-header {
    width: 100%;
    height: 7vw;
    display: flex;
    justify-content: space-between;
    font-size: 1.5vw;
    margin: 0.3vw 0;
}

.table-basic-content-header-name {
    width: 26%;
    height: 7vw;
    padding: 2.3vw;
    font-size: 1.5vw;
    color: rgb(51, 51, 51);
    background-color: #f2f2f2;
}

.table-basic-content-header-email {
    width: 36%;
    height: 7vw;
    padding: 2.3vw;
    color: rgb(51, 51, 51);
    font-size: 1.5vw;
    background-color: #f2f2f2;
}

.table-basic-content-header-age {
    width: 16%;
    height: 7vw;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    color: rgb(51, 51, 51);
    align-items: center;
    background-color: #f2f2f2;
}

.table-basic-content-header-address {
    width: 21%;
    height: 7vw;
    font-size: 1.5vw;
    display: flex;
    color: rgb(51, 51, 51);
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.table-content-fff {
    background-color: transparent;
}

.admin-table-footer {
    margin: 22vw 20vw 0 20vw;
}

.table-basic-origami {
    top: 7.5vw;
}

#table-delete {
    color: red;
    cursor: pointer;
}

#table-basic-admin {
    top: 15vw;
    height: 56vw;
}

#table-basic-content-admin {
    height: 44.5vw;
}