/* Details */
.large{
    margin-top: 5vw;
}
.p-news{
    width: 60vw;
    height: 154vw;
    margin-top: 6vw;
    background-color: rgb(204, 204, 201);
    margin-left: 20vw;
}  
.p-text {
    padding-left: 2vw;
    padding-top: 2vw;
    font-size: 1.7vw;
}
.product-making{
    background-color: rgb(245, 245, 245);
    width: 53vw;
    height: 73vw;
    margin-left: 3.5vw;
    margin-top: 2vw;
}
.p-text-making{
    padding-top: 2vw;
    padding-left: 2vw;
    font-size: 1.2vw;
    color: rgb(86, 86, 85);
}
.poster{
    padding-left: 2vw;
}
.p-img{
    text-align: center;
    background-color: rgb(245, 245, 245);
    width: 53vw;
    height: 44vw;
    margin-left: 3.5vw;
    margin-top: 2vw;
}
.product-hightlight-img-details{
    margin-left: 0.2vw;
    margin-top: 1vw;
    width: 50vw;
    height: 40vw;
}
.p-text-img{
    
    font-size: 1vw;
}
.p-making{
    margin-left: .5vw;
    width: 52vw;
   
}
.product-making-checkbox-btn{
    margin-top: 2vw;
    margin-left: 14vw;
    appearance: none;
    width: 1vw;
    height: 1vw;
    background-color: rgb(129, 129, 129);
    border-radius: 50%;
    transition: 0.25s;
    cursor: pointer;
    box-shadow: 0px 0px 6px 0px rgba(45, 45, 45, 0.2)
    
}
.product-making-checkbox-btn:hover{
    width: 1.3vw;
    height: 1.3vw;
    background-color: #fff;
    transition: 0.25s;
}
.comment{
    margin-bottom: 3vw;
    font-size: 1.2vw;
}
.p-input-comment{
    width: 30vw;
    height: 3vw;
    margin-left: 10vw;
    margin-top: 1vw;
    text-align: left;
    padding-left: 2vw;
    font-size: 1.2vw;
    
}
.p-footer{
    text-align: center;
    margin-top: 2vw;
    font-size: 1.2vw;
}
/* Lotus */

.lotus{
    background-color: white;
    width: 62%;
    border-radius: 25px;
    padding:40px;
    margin: 0px auto;
    box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 20%);
}
.lotus_top .lt_title{
    font-size: 35px;
    font-weight: bold;
    display:block;
    padding-bottom: 10px;
}
.lt_title-author {
    color: #999;
    font-size: 20px;
    cursor: pointer;
    display:block;
    padding-bottom: 5px;
}
.lt_title-author a{
    text-decoration: none;
}
.lotus_content p {
    font-size:20px;
}
.lotus_origami .imagess {
    display:block;
    margin: 0px auto;
}
.lotus_origami span {
    font-size: 16px;
    display: block;
    text-align: center;
    padding-top: 20px;
    padding: 10px;
}

.lotus_bottom{
    font-size: 20px;
    display:block;
    text-align: center ;
    padding-top:10px;
    color: #999;
}
.imagess{
    display:flex;
    flex-wrap: wrap;
    gap: 15px;
}

/* Flag VietNam */

.fov{
    background-color: white;
    width: 650px;
    border-radius: 25px;
    padding:40px;
    position: absolute;
    left:680px;
    box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 20%);
}
.fov_top .fov_title {
    font-size: 35px;
    font-weight: bold;
    display:block;
    padding-bottom: 5px;
}
.fov_title-author{
    color: #999;
    font-size: 20px;
    cursor: pointer;
    display: block;
    padding-bottom: 30px;
}
.fov_title-author a {
    text-decoration: none;
}
.fov_content p {
    font-size:20px;
}
.flag img{
    display:flex;
    justify-content: flex-end;
}
.flag span {
    font-size: 16px;
    display: block;
    text-align: center;
    padding-top: 20px;
}

.fov-bottom{
    font-size: 20px;
    display:block;
    text-align: center ;
    padding-top:10px;
    color: #999;
}

/* Crab */

.crab{
    background-color: white;
    width: 62%;
    border-radius: 25px;
    padding:40px;
    margin: 0px auto;
    box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 20%);
}
.crab_top .crab_title {
    font-size: 35px;
    font-weight: bold;
    display:block;
    padding-bottom: 10px;
}
.crab_title-author{
    color: #999;
    font-size: 20px;
    cursor: pointer;
    display:block;
    padding-bottom: 5px;
}
.crab_title-author a{
    text-decoration: none;
}
.crab_content p{
    font-size:20px;
}
.crab_images{
    height: 350px;
    display:block;
    margin: 0px auto;
}
.crab_origami span {
    font-size: 16px;
    display: block;
    text-align: center;
    padding-top: 20px;
    padding: 10px;
}
.crab_bottom{
    font-size: 20px;
    display:block;
    text-align: center ;
    padding-top:10px;
    color: #999;
}


/* Boar */
.boar{
    background-color: white;
    width: 40%;
    border-radius: 25px;
    padding:40px;
    margin: 0px auto;
    box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 20%);
}
.boar_top .boar_title{
    font-size: 35px;
    font-weight: bold;
    display:block;
    padding-bottom: 10px;
}
.boar_content{
    font-size: 20px;
}
.boar_title-author{
    color: #999;
    font-size: 20px;
    cursor: pointer;
    display:block;
    padding-bottom: 5px;
}
.boar_title-author a{
    text-decoration: none;
}
.boar_origami .b_images{
    display:block;
    margin:0px auto;
    width: 30vw;
}
.boar_bottom{
    font-size: 20px;
    display:block;
    text-align: center ;
    padding-top:10px;
    color: #999;
}

/* Parrot */

.parrot{
    background-color: white;
    width: 62%;
    border-radius: 25px;
    padding:40px;
    margin: 0px auto;
    box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 20%);
}
.parrot_top .parrot_title{
    font-size: 35px;
    font-weight: bold;
    display:block;
    padding-bottom: 10px;
}
.parrot_title-author{
    color: #999;
    font-size: 20px;
    cursor: pointer;
    display:block;
    padding-bottom: 5px;
}
.parrot_title-author a{
    text-decoration: none;
}
.parrot_content p{
    font-size:20px;
}
.parrot_images{
    display:block;
    margin: 0px auto;
    padding: 10px;
}
.parrot_origami span{
    font-size: 16px;
    display: block;
    text-align: center;
    padding: 20px;
}
.parrot_bottom{
    font-size: 20px;
    display:block;
    text-align: center ;
    padding-top:10px;
    color: #999;
}
/* Fox */

.fox{
    background-color: white;
    width: 62%;
    border-radius: 25px;
    padding:40px;
    margin: 0px auto;
    box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 20%);
}
.fox_top .fox_title{
    font-size: 35px;
    font-weight: bold;
    display:block;
    padding-bottom: 10px;
}
.fox_title-author{
    color: #999;
    font-size: 20px;
    cursor: pointer;
    display:block;
    padding-bottom: 5px;
}
.fox_title-author a{
    text-decoration: none;
}
.fox_content p {
    font-size:20px;
}
.fox_images{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.fox_imagess{
    display:block;
    margin: 0px auto;
}
.fox_origami span{
    font-size: 16px;
    display: block;
    text-align: center;
    padding: 20px;
}
.fox_bottom{
    font-size: 20px;
    display:block;
    text-align: center ;
    padding-top:10px;
    color: #999;
}

/* Flag Jp */

.foj{
    background-color: white;
    width: 62%;
    border-radius: 25px;
    padding:40px;
    margin: 0px auto;
    box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 20%);
}
.foj_top .foj_title{
    font-size: 35px;
    font-weight: bold;
    display:block;
    padding-bottom: 10px;
}
.foj_title-author {
    color: #999;
    font-size: 20px;
    cursor: pointer;
    display:block;
    padding-bottom: 5px;
}
.foj_title-author a{
    text-decoration: none;
}
.foj_content{
    font-size: 20px;
}
.foj_origami .foj_images{
    display: block;
    margin: 0px auto;
}
.foj_bottom{
    font-size: 20px;
    display:block;
    text-align: center ;
    padding-top:10px;
    color: #999;
}
/* Frame */

.frame{
    background-color: white;
    width: 62%;
    border-radius: 25px;
    padding:40px;
    margin: 0px auto;
    box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 20%);
}
.frame_top .frame_title{
    font-size: 35px;
    font-weight: bold;
    display:block;
    padding-bottom: 10px;
}
.frame_title-author{
    color: #999;
    font-size: 20px;
    cursor: pointer;
    display:block;
    padding-bottom: 5px;
}
.frame_title-author a{
    text-decoration: none;
}
.frame_content{
    font-size: 20px;
}
.frame_origami .f_images{
    display: block;
    margin: 0px auto;
}
.frame_bottom{
    font-size: 20px;
    display:block;
    text-align: center ;
    padding-top:10px;
    color: #999;
}




