.product-item{
    border: 1px solid #000;
    margin: 50px;
    display: flex;
    /* max-width: 1000px; */
    padding: 30px;
    justify-content: space-around;
  
}
.product-item-represent{
    max-width: 450px;
    max-height: 250px;
}
.product-item-des{
    font-weight: 500;
    
}
.product-btn-item-making{
    
    background-color: rgb(34, 255, 0);
    text-decoration: none;
    border: 1px solid #888;
    box-shadow: 25px;
    padding: 5px 20px;
    border-radius: 25px;
}