.product-hightlight{
    width: 60vw;
    height: 54vw;
    background-color: rgb(230, 230, 230);
    margin-top: 6vw;
    margin-left: 20vw;
    box-shadow: 5px 4px 0px 4px rgba(0,0,0,0.3);

}

.poster-hightlight{
    padding-left: 2vw;
   
}
.hl-poster{
    padding-left: 2vw;
}
.product-hightlight-img{
    margin-left: 4vw;
}
.div-p{
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vw;
}
.a-btn{
    margin-left: 2vw;
}

.product-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.p-item-little{
    display: flex;
    flex-direction: column;
    background-color: rgb(206, 206, 206);
    box-shadow: 5px 6px 0px 6px rgba(0,0,0,0.3);
}
.tittle-item{
    padding-left: 2vw;
    padding-top: 1vw;
    font-size: 1.5vw;
    text-decoration: none;
    color: rgb(12, 15, 15);
    
}
.tittle-item:hover{
    color:rgb(213, 95, 84) ;
}
/* Lotus */
.p-lotus{
    margin-top: 2vw;
    width: 19vw;
    height: 25vw;
    margin-left: 20vw;
}
.lotus-img{
    margin-top: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
}
/* Parrot */
.p-parrot{
    margin-left: 2vw;
    margin-top: 1.5vw;
    width: 19vw;
    height: 31.5vw;
}
.parrot-img{
    width: 17vw;
    height: 20vw;
    margin-left: 1vw;
    margin-top: 1vw;
}
/* Crab */
.p-crab{
    margin-top: 2vw;
    margin-left: 2vw;
    width: 18vw;
    height: 32vw;
    margin-right: 15vw;
}
.crab-img{
    width: 17vw;
    height: 15vw;
    padding-top: 1vw;
    padding-left: 1vw;
}
/* pig */
.p-boar{
   margin-top: -6vw;
    margin-left: 20vw;
    width: 19vw;
    height: 29vw;
}
.boar-img{
    width: 18vw;
    height: 18vw;
    padding-left: 1.5vw;
    padding-top: 1vw;
}

/* Flag */
.p-flag{
    width: 19vw;
    height: 32.5vw;
    margin-left: 2vw;
    margin-top: 2vw;

}
.flag-img{
    width: 17vw;
    margin-left: 1vw;
    margin-top: 1vw;
}
/* Fox */
.p-fox{
    margin-left: 2vw;
    margin-top: 1vw;
    width: 18vw;
    height: 23vw;
    margin-right: 10vw;
}
.fox-img{
    width: 17vw;
    padding-left: 1vw;
    padding-top: 1vw;
}
.font-fox{
    font-size: 15px;
}
/* frame */
.p-frame{
    margin-top: -8vw;
    margin-left: 20vw;
    width: 19vw;
    height: 26.5vw;
}
.frame-img{
    width: 18vw;
    padding-left: 1vw;
    padding-top: 1vw;
}
.font-frame{
    font-size: 15px;
    padding-top: 1.5vw;
}
/* Japan Flag */
.p-japan{
    margin-left: 23vw;
    margin-top: -7vw;
    width: 18vw;
    height: 27vw;
}
.japan-img{
    width: 18vw;
    height: 15vw;
    padding-left: 1vw;
    padding-top: 1vw;
}
.font-jp{
    font-size: 15px;
}
.footer-p{
    margin-top: 2vw;
    text-align: center;
}




/* Details */
.p-news{
    width: 60vw;
    height: 146vw;
    margin-top: 9vw;
    background-color: rgb(204, 204, 201);
    margin-left: 20vw;
}  
.p-text {
    padding-left: 2vw;
    padding-top: 2vw;
}
.product-making{
    background-color: rgb(245, 245, 245);
    width: 53vw;
    height: 73vw;
    margin-left: 3.5vw;
    margin-top: 2vw;
}
.p-text-making{
    padding-top: 2vw;
    padding-left: 2vw;
    color: rgb(86, 86, 85);
}
.poster{
    padding-left: 2vw;
}
.p-img{
    text-align: center;
    background-color: rgb(245, 245, 245);
    width: 53vw;
    height: 43vw;
    margin-left: 3.5vw;
    margin-top: 2vw;
}
.product-hightlight-img-details{
    margin-left: 0.2vw;
    margin-top: 1vw;
}
.p-text-img{
    padding-top: .5vw;
}
.p-making{
    margin-left: .5vw;
   
}
.product-making-checkbox-btn{
    margin-top: 2vw;
    margin-left: 14vw;
    appearance: none;
    width: 1vw;
    height: 1vw;
    background-color: rgb(129, 129, 129);
    border-radius: 50%;
    transition: 0.25s;
    cursor: pointer;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2)
    
}
.product-making-checkbox-btn:hover{
    width: 1.3vw;
    height: 1.3vw;
    background-color: #fff;
    transition: 0.25s;
}
.comment{
    margin-bottom: 3vw;
}
.p-input-comment{
    width: 30vw;
    height: 3vw;
    margin-left: 10vw;
    margin-top: 1vw;
    text-align: left;
    padding-left: 2vw;
    
}
.p-footer{
    text-align: center;
    margin-top: 2vw;
}