.Product-making-item{
    display: flex;
    flex-direction: column;
    
}
.Product-making{
    text-align: center;
    width: 700px;
    height: 550px;
    margin-top: 50px;
    margin-left: 600px;
    border: solid #f7f7f7;
   
}
.p-item-btn{
    width:200px ;
    height: 50px;
    margin-top: 15px;
    margin-left: 850px;
    padding: 12px 5px;
    text-decoration: none;
    border-radius: 25px;
    text-align: center;
    
}
.p-item-btn:hover{
    background-color: #f7f7f7;
}
