.product-hightlight{
    width: 60vw;
    height: 66vw;
    background-color: rgb(230, 230, 230);
    margin-top: 6vw;
    margin-left: 20vw;
    box-shadow: 5px 4px 0px 4px rgba(0,0,0,0.3);

}

.poster-hightlight{
    padding-left: 2vw;
   
}
.hl-poster{
    padding-left: 2vw;
}
.icon-human{
    width: 2.5vw;
}
.product-hightlight-img{
    margin-left: 4vw;
    width: 53vw;
    
}
.font-posted{
    margin-top: 2vw;
    font-size: 1.7vw;
}
.div-p-poster{
    font-size: 1.7vw;
    margin-left: 2vw;
    padding-right: 1vw;
    
}
.icon{
    width: 3vw;
    padding-top: .5vw;
}
.div-p{
    padding-left: 2vw;
    padding-right: .2vw;
    padding-top: 1vw;
    margin-bottom: 2vw;
    font-size: 1vw;
    height: 2vw;
}
.link-btn{
    font-size: 1.7vw;
    margin-left: 2vw;
    text-decoration: none;
    color: rgb(73, 73, 240);
    
}

.product-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.p-item-little{
    display: flex;
    flex-direction: column;
    background-color: rgb(206, 206, 206);
    box-shadow: 5px 3px 0px 3px rgba(0,0,0,0.3);
}
.tittle-item{
    padding-left: 1vw;
    padding-top: 1vw;
    font-size: 1.5vw;
    text-decoration: none;
    color: rgb(12, 15, 15);
    
}
.tittle-item:hover{
    color:rgb(213, 95, 84) ;
}
.div-item{
    font-size: 1.5vw;
    margin-left: 1vw;
}
/* Lotus */
.p-lotus{
    margin-top: 2vw;
    margin-left: 20vw;
    margin-bottom: 2vw;
    width: 19vw;
    height: 26vw;
}
.lotus-img{
    margin-top: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
}
/* Flag */
.p-flag{
    width: 19vw;
    height: 40vw;
    margin-left: 2vw;
    margin-top: 2vw;

}
.flag-img{
    width: 17vw;
    margin-left: 1vw;
    margin-top: 1vw;
}
/* Crab */
.p-crab{
    margin-top: 2vw;
    margin-left: 2vw;
    width: 18vw;
    height: 37vw;
    margin-right: 15vw;
}
.crab-img{
    width: 17vw;
    height: 15vw;
    padding-top: 1vw;
    padding-left: 1vw;
}

/* pig */
.p-boar{
    margin-top: -12vw;
     margin-left: 20vw;
     width: 19vw;
     height: 30vw;
 }
 .boar-img{
     width: 18vw;
     height: 18vw;
     padding-left: 1.5vw;
     padding-top: 1vw;
 }
 /* Parrot */
.p-parrot{
    margin-left: 2vw;
    margin-top: 2vw;
    width: 19vw;
    height: 34vw;
}
.parrot-img{
    width: 17vw;
    height: 20vw;
    margin-left: 1vw;
    margin-top: 1vw;
}

/* Fox */
.p-fox{
    margin-left: 2vw;
    margin-top: -1vw;
    width: 18vw;
    height: 25vw;
    margin-right: 10vw;
}
.fox-img{
    width: 17vw;
    padding-left: 1vw;
    padding-top: 1vw;
}


/* Japan Flag */
.p-japan{
    margin-left: 20vw;
    margin-top: -15vw;
    width: 19vw;
    height: 29vw;
}
.japan-img{
    width: 18vw;
    height: 15vw;
    padding-left: 1vw;
    padding-top: 1vw;
}

.footer-p{
    margin-top: 2vw;
    text-align: center;
    font-size: 1.5vw;
}



/* frame */
.p-frame{
    margin-top: -10vw;
    margin-left: 23vw;
    width: 18vw;
    height: 28vw;
}
.frame-img{
    width: 17vw;
    padding-left: 1vw;
    padding-top: 1vw;
}




