.au-slider {
    width: 105%;
    height: 30vw;
    display: flex;
    justify-content: space-around;
}

.au-slider-content {
    margin-top: 4vw;
    width: 35vw;
    height: 35vw;
    background-color: #fff;
}

.au-slider-content-header {
    display: flex;
    justify-content: center;
}

.au-slider-location-icon {
    font-size: 7vw;
    margin-top: 1vw;
}

.au-slider-content-footer h4 {
    text-align: center;
}

.au-slider-content-footer p {
    text-align: center;
    padding: 1.2vw;
    margin: 1vw 0;
    font-size: 1.4vw;
}