.Title{
  text-align: center;
  margin: 0.5vw 0 2vw 0;
  font-size: 2vw;
}

.container{
  width: 80vw;
  margin: 0px auto;
}
  
.about_us{
  padding: 5vw 1.4vw;
  background-color:white;
}
  
.about_us--top {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 0 10vw 0;
}

.about_us--bottom{
  display: flex;
  justify-content: space-around;
  margin: 10vw -10vw;
}
  
.card{
  width: 34vw;
  height: 14vw;
  display: flex;
  justify-content: center;
}

.card div {
  margin: 15vw;
  left: 12.8vw;
  text-align: center;
}

.card > img{
  position: absolute;
  width: 16vw;
  border-radius: 50%;
}

.card > div > p {
  width: 20vw;
  font-size: 1.7vw;
  line-height: 2.1vw;
  color: #000;
  margin: 2.1vw 0 0 0;
}

.card > div > a {
  width: 2vw;
  padding: 0.5vw 1vw;
  border-radius: 1.8vw;
  font-size: 1.5vw;
  line-height: 0.1vw;
  color: black;
  transition: 0.25s;
  text-decoration: none;
}

.card > div > a:hover {
  background-color: rgb(247, 247, 247);
    transition: 0.25s;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}