
.Title{
  text-align: center;
  margin: 40px 0px;
} 

.container{
  width: 80%;
  margin: 0px auto;
}

.about_us{
  padding: 50px 15px;
  background-color: wheat;
}

.about_us--top,
.about_us--bottom{
  width: 100%;
  display: flex;
  /* căn theo chiều ngang */
  justify-content: space-around;
  /* căn dọc */
  align-items: center;
  margin-bottom: 80px;
}
.about_us--bottom{
  justify-content: space-between;
  margin-bottom: 0px;
}

.card{
  width: 400px;
  height: 200px;

  display: flex;
  justify-content: center;
}

.card > img{
  width: 200px;
  height: 200px;
}

.about_us{
  padding: 50px 15px;
  background-color: white;
}

.about_us--top,
.about_us--bottom{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 80px;
}
.about_us--bottom{
  justify-content: space-between;
  margin-bottom: 0px;
}

.card{
  width: 400px;
  height: 200px;

  display: flex;
  justify-content: center;
}
.card > img{
  width: 200px;
  height: 200px;
  border: 1px solid transparent;
  border-radius: 100%;
  margin-right: 25px;
}
.card > div > p {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: rgb(43, 26, 120);

  margin: 20px 0px;
}
.card > div > a {
  font-size: 20px;
  font-weight: 100px;
  line-height: 10px;
  color: black;
  text-decoration: none;
}
.card > div > p:hover {
  color: red;
}

.about_teacher{
  height: 400px;
  padding: 50px 15px;
  background-color:cornsilk;
  width: 100%;
}
.about_teacher > div > div{ 
  margin: 0px auto;
}

