

.lotus{
    background-image: url(/Lotus/images/background.jpg);
    width: 650px;
    border-radius: 25px;
    padding:40px;
    position: absolute;
    left:680px;
    box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 20%);
}
.lotus_top .lt_title{
    font-size: 35px;
    font-weight: bold;
    display:block;
    padding-bottom: 10px;
}
.lt_title_author {
    color: #999;
    font-size: 20px;
    cursor: pointer;
    display:block;
    padding-bottom: 5px;
    
}
.lotus_content p {
    font-size:20px;
}
.lotus_origami .images {
    position: relative;
    left: 175px;
}
.lotus_origami span {
    font-size: 16px;
    display: block;
    text-align: center;
    padding-top: 20px;
    padding: 10px;
}
.tutorial1{
    font-size: 20px;
    padding-top: 20px;
    display: block;
    padding-bottom: 10px;
}
.tutorial2{
    font-size: 20px;
    padding-top: 20px;
    display: block;
    padding-bottom: 10px;
}
.tutorial3 {
    font-size: 20px;
    padding-top: 20px;
    display: block;
    padding-bottom: 10px;
}
.tutorial4{
    font-size: 20px;
    padding-top: 20px;
    display: block;
    padding-bottom: 10px;
}
.tutorial5{
    font-size: 20px;
    padding-top: 20px;
    display: block;
    padding-bottom: 10px;
}
.lotus_bottom{
    font-size: 20px;
    display:block;
    text-align: center ;
    padding-top:10px;
    color: #999;
}



