<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>

  <link rel="stylesheet" href="../assets/css/reset.css">
  <link rel="stylesheet" href="../assets/css/about.css">
</head>
<body>
  <div class="about_us">
    <div class="container">
        <h1> LuonVuiTuoi Team </h1>
        <section class="about_us--top">
            <div class="card">
            <img src="../assets/images/Minhavt.jpg" alt="avatar">
            <div>
                <p>Tạ Quang Minh</p>
                <a href="https://www.facebook.com/minh8699" target="_blank" rel="noopener noreferrer">Facebook</a>
            </div>
            </div>
            
            <div class="card">
                <img src="../assets/images/Namavt.jpg" alt="avatar">
                <div>
                <p>Đào Thành Nam</p>
                <a href="https://www.facebook.com/thanhnam092/" target="_blank" rel="noopener noreferrer">Facebook</a>
                </div>
            </div>
        </section>
        <section class="about_us--bottom">
            <div class="card">
            <img src="../assets/images/Ducavt.jpg" alt="avatar">
            <div>
                <p>Trần Minh Đức</p>
                <a href="https://www.facebook.com/bac.soi.1297" target="_blank" rel="noopener noreferrer">Facebook</a>
            </div>
            </div>

            <div class="card">
            <img src="../assets/images/Vanhavt.jpg" alt="avatar">
            <div>
                <p>Lê Như Việt Anh</p>
                <a href="https://www.facebook.com/profile.php?id=100059104665311" target="_blank" rel="noopener noreferrer">Facebook</a>
            </div>
            </div>
            
            <div class="card">
            <img src="../assets/images/Vietavt.jpg" alt="avatar">
            <div>
                <p>Võ Văn Việt</p>
                <a href="https://www.facebook.com/VoVanViet.2003" target="_blank" rel="noopener noreferrer">Facebook</a>
            </div>
            </div>
        </section>
    </div>
  </div>
  <div class="about_teacher"> 
    <div class="container"> 
        <h1>Special Advisors</h1> 
        <div class="card">
            <img src="../assets/images/Mr.t.jpg" alt="avatar">
            <div>  
                <p>Mr.Tuân Nguyễn</p>
            </div>
        </div>
  </div>
</body>
</html>