/* HISTORY */
.home-page-content-history {
    position: relative;
    width: 100%;
    height: 40vw;
    background-color: rgb(228, 198, 183);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2)
}

.home-history-text {
    width: 67vw;
    height: 36.5vw;
    background-color: rgb(255, 255, 255);
    margin: 1.5vw 2vw;
    padding: 1.56vw;
    border-radius: 1.9vw 1.9vw 0 1.9vw;
    position: absolute;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
    background-color: rgb(250, 236, 229);
}

.home-history-text-header {
    font-size: 1.7vw;
    color: #fff;
    text-align: center;
    background-color: #c56e17;
    border-radius: 1.9vw;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
}

.home-history-text-content {
    background-color: rgb(255, 255, 255);
    margin: 1.4vw -1.6vw;
    height: 31.1vw;
    border-radius: 0 0 0 1.9vw;
    padding: 1vw;
    font-size: 1.2vw;
    overflow-x:hidden;
    overflow-y: auto;
    box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.69);
}

.home-history-text-content::-webkit-scrollbar {
    width: 0.6vw;
    background-color: #F5F5F5;
} 

.home-history-text-content::-webkit-scrollbar-thumb {
    background-color: #c56e17;
    border-radius: 1vw;
}

.home-history-text-content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #fff;
}

.home-history-pic {
    width: 25vw;
    margin: 1.5vw 71.6vw;
    border-radius: 1.9vw;
    position: absolute;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
    transition: 0.25s;
}

.home-history-pic:hover {
    width: 26vw;
    margin: 0.8vw 71.3vw;
    transition: 0.25s;
}