.home-page-header {
    position: relative;
    width: 100%;
    height: 40vw;
    top: -0.1vw;
}

.home-text-header {
    width: 45%;
    position: absolute;
    margin: 12% 8%;
}

.home-text-h1 {
    font-size: 4.5vw;
    color: #000000;
}

.home-text-p {
    font-size: 1.5vw;
    color: #fff;
}

.home-header-btn {
    background-color: rgb(250, 236, 229);
    padding: 1vw 3vw;
    position: absolute;
    top: 17vw;
    color: #000;
    text-decoration: none;
    border-radius: 2vw;
    transition: 0.25s;
}

.home-header-btn:hover {
    background-color: #c56e17;
    color: #fff;
    transition: 0.25s;
}

.home-image-header-sub {
    width: 25vw;
    height: 25vw;
    background-color: rgba(255, 255, 255, 0.363);
    float: right;
    margin: 10vw;
    border-radius: 50%;
}

.home-image-header {
    width: 38vw;
    position: absolute;
    left: 60vw;
    top: 1vw;
}