.up-status-post-add {
    border-radius: 1.9vw;
    margin: 0vw 0vw 4vw 0;
    width: 68vw;
    height: 16vw;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

.up-status-post-add-header {
    display: flex;
}

.up-status-post-add-header-ava {
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    margin: 1.5vw;
}

.up-status-post-add-header-text {
    width: 56vw;
    height: 4vw;
    outline: none;
    border: none;
    background-color: rgb(231, 230, 230);
    border-radius: 1.9vw;
    margin: 2.3vw 0;
    padding: 1vw;
    font-size: 1.2vw;
    transition: 0.25s;
}

.up-status-post-add-header-text:focus {
    border: 0.2vw solid #c56e17;
    transition: 0.25s;
}

.up-status-post-add-hr {
    width: 65vw;
    margin: 0 1.4vw;
    background-color: #000;
}

.up-status-post-add-footer {
    display: flex;
    justify-content: space-around;
}

.up-status-post-add-icon {
    font-size: 4vw;
    margin: 1vw 0;
    cursor: pointer;
    transition: 0.25s;
}

.up-status-post-add-icon:hover {
    color: #c56e17;
    transition: 0.25s;
}

.up-status-post-add-p {
    font-size: 2vw;
    margin: 1.5vw 0 3.2vw -10vw;
    transition: 0.25s;
}

.up-status-post-add-p:hover {
    cursor: pointer;
    color: #c56e17;
    transition: 0.25s;
}

.up-status {
    position: relative;
    width: 68vw;
    height: 100vw;
    margin: -0.5vw 3vw;
    height: 60vw;
    margin: -0.5vw 2.2vw;
    border-radius: 1.9vw;
}

.up-status-post {
    background-color: #ccc;
    background-color: #fff;
    width: 64vw;
    width: 68vw;
    height: 45vw;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    margin: 0vw 0vw 5vw 0vw;
    border-radius: 1.9vw;
    position: relative;
}

.up-status-post-header-ava {
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    position: absolute;
    margin: 1.5vw;
}

.up-status-post-header-name {
    position: absolute;
    font-size: 2vw;
    margin: 1vw 8.5vw;
}

.up-status-post-header-time {
    position: absolute;
    font-size: 1.3vw;
    margin: 4.5vw 8.7vw;
}
.up-status-post-header-statusline {
    position:absolute;
    font-size: 1.4vw;
    margin: 7vw 8.7vw;
}
.up-status-post-content-love{
    margin-top: 12vw;
    border-radius: 1.9vw;
    margin-left: 4vw;
}
.up-status-post-content-love2{
    width: 21vw;
    border-radius: 1.9vw;
    margin-left: 11vw;
}

.up-status-post-content-anhtet1{
    top: 50vw;
    margin-top: 14vw;
    border-radius: 1.9vw;
    margin-left: 4vw;
}
.up-status-post-content-anhtet2{
    margin-top: -20vw;
    border-radius: 1.9vw;
    margin-left: 7vw;
}
/* 
.status-main {
    position: relative;
    width: 68vw;
    margin: 2vw 0vw 4vw 0;
    border-radius: 1.9vw;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
} */

.status-page {
    position: relative;
    width: 68vw;
    margin: 2vw 0vw 4vw 0;
    border-radius: 1.9vw;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding: 1.5vw;
}

.status-page img {
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
}

.status-page-name {
    position: absolute;
    margin: -7vw 7vw;
    font-size: 2vw;
}

.status-page-clock {
    position: absolute;
    margin: -4vw 7.2vw;
    font-size: 1.2vw;
}

.status-page-text {
    position: absolute;
    margin: -2vw 7.2vw;
    font-size: 1.2vw;
}