.up-status {
    position: relative;
    width: 68vw;
    height: 100vw;
    margin: -0.5vw 3vw;
    border-radius: 1.9vw;
}

.up-status-post {
    background-color: #ccc;
    width: 64vw;
    width: 68vw;
    height: 35vw;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    margin: 0vw 0vw 5vw 0vw;
    border-radius: 1.9vw;
    position: relative;
}

.up-status-post-header-ava {
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    position: absolute;
    margin: 1.5vw;
}

.up-status-post-header-name {
    position: absolute;
    font-size: 2vw;
    margin: 1vw 8.5vw;
}

.up-status-post-header-time {
    position: absolute;
    margin: 4.5vw 8.7vw;
}
.up-status-post-header-statusline {
    position:absolute;
    margin: 7vw 8.7vw;
}
.up-status-post-content-love{
    margin-top: 15vw;
    border-radius: 1.9vw;
    margin-left: 7vw;
}
.up-status-post-content-love2{
    margin-top: 5vw;
    border-radius: 1.9vw;
    margin-left: 15vw;
}

.up-status-post-content-anhtet1{
    top: 50vw;
    margin-top: 12vw;
    border-radius: 1.9vw;
    margin-left: 6vw;
}
.up-status-post-content-anhtet2{
    margin-top: -20vw;
    border-radius: 1.9vw;
    margin-left: 38vw;
}