.Profile-top{
    width: 100%;
    height: 20vw;
}

.card-one{
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
}
.card-one img {
    height: 300px;
    width: 300px;
    border: 0px solid transparent;
    border-radius: 50%;
    margin: 60px 0px;
}
.Profile-top >  div > p {
    font-size: 30px;
    color: black;
    font-weight: 200px;
    line-height: 30px;
    position: absolute;
    left:320px;
    top: 390px;
}
.Profile-bottom_left{
    background-color: rgb(216, 213, 213);
    width: 460px;
    border-radius: 25px;
    height: 500px;
    margin: 25px;
    position: absolute;
    top: -20px;
    right:750px;
    box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 20%);
}
.Profile-bottom_left > div > p {
   font-size: 25px;
   font-weight: 200px;
   line-height: 35px;
}
.Profile-bottom_right{
 background-color: rgb(216, 213, 213);   
 width: 500px;
 border-radius: 25px;
 height:500px;
 position: absolute;
 top: 500px;
 right: 200px;
 box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 20%);
}
.Profile-bottom_right > div > p{
    font-size: 25px;
    font-weight: 200px;
    line-height: 35px;
}
.Profile-bottom_hight{
    background-color: rgb(216, 213, 213);   
    width: 400px;
    border-radius: 25px;
    height:400px;
    position: absolute;
    top:550px;
    right: 810px;
    box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 20%);
   }