.up-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.up-avatar {
    width: 17vw;
    height: 17vw;
    border-radius: 50%;
    margin: 3.5vw 0 0 3.7vw;
    box-shadow: 0vw 0vw 10px 0px rgba(0,0,0,0.2);
}

.up-cover-img {
    width: 68vw;
    border-radius: 1.9vw;
    margin: 3.2vw 5vw;
    box-shadow: 0vw 0vw 10px 0px rgba(0,0,0,0.2);
}