.Product-top{
    padding: 50px 15px;
    background-color: wheat;
     /* background-image: url(/Images/Gap-giay-origami.jpg);  */
    background-size: cover;
}
.card one{
    width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
}
.card one > img {
    height: 400px;
    width: 400px;
    border: 0px solid transparent;
    border-radius: 100%;
    margin-right:25px;
}
.Product-top >  div > p {
    font-size: 30px;
    color: black;
    font-weight: 200px;
    line-height: 30px;
    position: absolute;
    left:420px;
    top: 290px;
}
.Product-bottom_left{
    background-color: rgb(216, 213, 213);
    width: 560px;
    border-radius: 25px;
    height: 450px;
    margin: 25px;
    position: absolute;
    top:455px;
    box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 20%);
}
.Product-bottom_left > div > p {
   font-size: 25px;
   font-weight: 200px;
   line-height: 35px;
}
.Product-bottom_right{
 background-color: rgb(216, 213, 213);   
 width: 500px;
 border-radius: 25px;
 height:450px;
 position: absolute;
 top:455px;
 right: 500px;
 box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 20%);
}
.Product-bottom_right > div > p{
    font-size: 25px;
   font-weight: 200px;
   line-height: 35px;
}
