body{
    background-image: url(../images/background.jpg);
}
.fov{
    background-color: white;
    width: 650px;
    border-radius: 25px;
    padding:40px;
    position: absolute;
    left:680px;
    box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 20%);
}
.fov_top .fov_title {
    font-size: 35px;
    font-weight: bold;
    display:block;
    padding-bottom: 5px;
}
.fov_title-author{
    color: #999;
    font-size: 20px;
    cursor: pointer;
    display: block;
    padding-bottom: 30px;
}
.fov_content p {
    font-size:20px;
}
.flag img{
    display:flex;
    justify-content: flex-end;
}
.flag span {
    font-size: 16px;
    display: block;
    text-align: center;
    padding-top: 20px;
}

.fov-bottom{
    font-size: 20px;
    display:block;
    text-align: center ;
    padding-top:10px;
    color: #999;
}