.top-nav {
    height: 5.7vw;
    width: 100%;
    padding: 1.3vw 10vw;
    top: 0;
    box-shadow: 0px 0px 24px 9px rgba(0,0,0,0.1);
    position: fixed;
    background-color: #fff;
    z-index: 10;
    font-size: 1.33vw;
}

/* LOGO  */
.nav-logo {
    position: absolute;
    text-decoration: none;
    color: #000;
    margin: 0.5vw 0 0 -7.4vw;
}

/* SEARCH INPUT */
.icon-search {
    font-size: 1.6vw;
    margin: 0.55vw 0 0 5.5vw;
    position: absolute;
}

.input-search {
    font-size: 1.1vw;
    margin: 0 5vw;
    padding: 1.14vw 2.4vw;
    color: rgb(87, 86, 86);
    border: 0.1vw solid #ccc;
    outline: none;
    border-radius: 1.8vw;
    height: 0.3vw;
    width: 18vw;
    background-color: rgb(247, 247, 247);
    box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.2);
}

.input-search:focus {
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
    transition: 0.25s;
    color: #000;
}

.nav-origami-search {
    display: flex;
    justify-content: space-around;
    width: 20vw;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    background-color: #fff;
    margin: 1vw 4vw;
    position: absolute;
    border-radius: 1.9vw;
}

.nav-origami {
    margin: 1vw 1vw;
    width: 18vw;
    height: 7vw;
    /* background-color: #000; */
    border-radius: 1.9vw;
}

/* NAV LINK */
.nav-link-page {
    width: 50vw;
    position: absolute;
    margin: -2vw 26vw;
}

.nav-link {
    font-size: 1.33vw;
    border-radius: 1.8vw;
    margin: 0 0.2vw;
    padding: 1vw 1.6vw;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    transition: 0.25s;
}

.nav-link:hover {
    background-color: rgb(247, 247, 247);
    transition: 0.25s;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
}

/* CLOCK */
.home-clock {
    position: absolute;
    margin: -2vw 68vw;
    width: 14vw;
    user-select: none;
}

/* USER LOGO */
.nav-user-logo {
    position: absolute;
    display: inline-block;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    margin: -3vw 83vw;
    transition: 0.25s;
}

.nav-user-logo:hover {
    cursor: pointer;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
    transition: 0.25s;
}