.top-nav {
    height: 73px;
    width: 100%;
    background-color: #ccc;
    padding: 22px 10%;
}

.nav-link {
    border-radius: 5px;
    margin: 0 2px;
    padding: 0 20px;
    text-decoration: none;
}

.nav-link:hover {
    background-color: aqua;
}

.input-search {
    margin: 0 5%;
    padding: 5px 10px;
    color: gray;
    border: none;
    outline: none;
    border-radius: 20px;
    height: 30px;
    width: 300px;
}

.input-search:focus {
    border: 2px solid pink;
    color: #000;
}
