<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Origami</title>
    <link rel="stylesheet" href="/css/Origami.css">
</head>
<body>

    <div class="new">
        <div class="content">
    <header>
        <h1 class="entry_title"> Hình cơ bản truyền thống</h1>
    <div class="entry-media">
            <span id="author">Posted by</span> 
            <span id="link_author"> <a  href="https://www.facebook.com/thanhnam092/" title="Posts by Đào Thành Nam" rel="author">
            Dao Thanh Nam</a>
        </span>    
    </div>
    </header>
    <div class="entry-content">
        <p> Hôm nay chúng ta sẽ cùng tìm hiểu về <strong>Hình cơ bản </strong>trong Origami.</p>
        <p> Sáng tác một mẫu origami có thể được chia làm hai công đoạn: <em><strong>Thiết kế bộ khung</strong></em> và <em><strong>Gấp chi tiết</strong></em>. Việc gấp chi tiết đòi hỏi ở bạn kỹ năng tạo hình, còn việc thiết kế bộ khung lại cần sự tư duy logic. Để làm được cả hai điều này thì mỗi tác giả đều cần tích lũy cho mình vốn kinh nghiệm nhất định.</p>
        <p style="text-align: justify;">Để bắt đầu thiết kế một mẫu đơn giản thì nhiều người đã lựa chọn con đường phát triển, biến tấu từ những hình cơ bản truyền thống. Đây là một trong những cách hữu hiệu để bạn làm quen với công việc thiết kế, sáng tác origami mà không cần mất nhiều thời gian tìm hiểu các khía cạnh logic, hình học của gấp giấy.</p></p>
        <div class="image">
            <img   src="/images/Origami_Bases.jpg" alt="images"> 
            <span>6 hình thông dụng trong origami </span>
            </div>
        <p><strong>Hình cơ bản truyền thống</strong> là những bộ khung rất đơn giản chỉ gồm vài bước gấp được người chơi origami đúc kết qua quá trình theo dõi sự phát triển của bộ môn này. Họ nhận ra rằng có nhiều mẫu được hình thành từ cùng một thế gấp giống nhau. Ví dụ như có nhiều mẫu chim được sáng tác từ bộ khung của mẫu hạc truyền thống. Hay từ một hình mà người ta gọi là "Cơ bản Cá-Fish Base";, họ không chỉ gấp ra được con cá mà còn có thể gấp ra nhiều loài động vật thú vị khác như voi, ốc sên, hay một chú lợn rừng. Từ những quan sát như vậy, họ đã tổng hợp được khoảng 10 hình cơ bản khác nhau. Những hình này được gọi là "Hình cơ bản truyền thống"; vì chúng đã có từ rất lâu, và không thể biết được ai là người nghĩ ra đầu tiên.</p>
        <p>Trong bài viết này LVT-Team sẽ giới thiệu với các bạn 6 hình cơ bản phổ biến  nhất trong origami, đó là: <br/>
            <strong>- Fish base</strong><em><strong> (cơ bản Cá)</strong></em><br />
            <strong>– Waterbomb base </strong><em><strong>(cơ bản Thủy Lôi)<br />
            </strong></em><strong>– Preminary Base </strong><em><strong>(cơ bản Vuông)</strong></em><br />
            <strong>– Windmill Base </strong><em><strong>(cơ bản Chong Chóng)</strong></em><br />
            <strong>– Bird Base </strong><em><strong>(cơ bản Chim / Hạc)</strong></em><br />
            <strong>- Frog Base</strong><em><strong> (cơ bản Ếch)</strong></em></p>
        </p>
        </div>
        <div class="tradition_base">
        <p>Nếu bạn muốn tìm hiểu kỹ hơn thì có thể đọc cuốn sách "Origami Design Secrets" của tác gỉa Robert J.Lang, trong đây có hẳn một chương viết về các hình cơ bản truyền thống.</p>
        <img class="tutorial_picture" src="/images/Bases.jpg" alt="images">
        <div class="base">
        <img class="tutorial_picture" src="/images/Bases01_fish.jpg" alt="images">
        <img class="tutorial_picture" src="/images/Bases02_water-bomb.jpg" alt="images">
        <img class="tutorial_picture" src="/images/Bases03_preliminary.jpg" alt="images">
        <img class="tutorial_picture" src="/images/Bases04_windmill.jpg" alt="images">
        <img class="tutorial_picture" src="/images/Bases05_bird.jpg" alt="images">
        <img class="tutorial_picture" src="/images/Bases06_frog.jpg" alt="images">
        <p>@2022 LuonVuiTuoi Team</p>
        </div>
    </div>
    <p>Bây giờ là 3h20 sáng  :) và t đã viết xong cái này :) đm  </p>
</div>
</div>
    
    

</body>
</html>