.admin-content-main {
    display: flex;
    justify-content: center;
    position: relative;
    width: 78.7vw;
    height: 15vw;
    margin: -6vw 20vw;
}

.admin-content-chart {
    position: relative;
    margin: 0 1.3vw;
    border-radius: 1.9vw;
    width: 36vw;
    height: 23vw;
    background-color: rgb(250, 236, 229);
    box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 20%);
}

.admin-content-chart-title {
    margin: 1.5vw;
    position: absolute;
    width: 91.5%;
    height: 8vw;
}

.admin-content-chart-title-header {
    font-size: 1.5vw;
    color: rgb(51, 51, 51);
}

.admin-content-chart1-title-footer {
    font-size: 1vw;
    color: rgb(85, 85, 85);
    margin: 1.2vw 0;
}

.admin-content-chart1-content {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    margin: 8vw 0vw;
    position: absolute;
    width: 100%;
    height: 9vw;
}

.admin-content-circle {
    width: 9vw;
    height: 9vw;
    border-radius: 50%
}

.admin-content-img-chart {
    width: 9vw;
    height: 9vw;
}


.admin-content-chart1-detail {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 20%;
    margin: 29% 0;
    /* background-color: aqua; */
}

.admin-content-number-chart {
    margin: 0 3.9vw;
    font-size: 2vw;
}

.admin-content-chart1-footer {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    /* align-items: center; */
    width: 100%;
    height: 20%;
    margin: 51.2% 0.4vw;
}

.admin-content-p-chart {
    margin: 0vw 0.4vw;
    font-size: 1.3vw;
    color: rgb(51, 51, 51);
}

.admin-content-chart2-content {
    position: absolute;
    margin: 21% 33%;
}

.admin-content-chart2-content-img {
    position: absolute;
    width: 23vw;
}

.admin-content-chart2-content-sub {
    position: absolute;
    width: 10vw;
    height: 14.5vw;
    margin: 5.3vw 1.7vw;
}

.admin-content-chart2-content-sub-title1 {
    margin: 2vw 0 3vw 0;
}

.admin-title1-income {
    color: rgb(63 133 26);
    font-size: 1.3vw;
}

.admin-title1-spend {
    color: #DD4A48;
    font-size: 1.3vw;
}

.admin-title1-spend-sub,
.admin-title1-income-sub {
    color: rgb(51, 51, 51);
    font-size: 1.7vw;
}

.admin-main2 {
    left: 22vw;
    top: 16vw;
    width: 74.7vw;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.admin-content-chart3-title {
    font-size: 1.5vw;
    color: rgb(51, 51, 51);
}

.admin-content-chart3 {
    padding: 2vw;
    /* position: absolute; */
    width: 48vw;
    border-radius: 1.9vw;
    height: 41vw;
    background-color: rgb(250, 236, 229);
    box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 20%);

}

.admin-chart3-content {
    width: 45vw;
    margin: 2vw 0;
}

.admin-chart3-content-area {
    position: relative;
}

.admin-chart3-content-wave {
    margin: -15.5vw 3.3vw;
    position: absolute;
    width: 40.7vw;
}


.admin-chart3-content-footer {
    margin: -1vw;
    display: flex;
    justify-content: center;
}

.admin-chart3-check-box1,
.admin-chart3-check-box2,
.admin-chart3-check-box3 {
    margin: 0.45vw 0.5vw 0 3vw;
    width: 0.9vw;
    height: 0.9vw;
    background-color: #DD4A48;
    border-radius: 50%;
}

.admin-chart3-check-box1 {
    background-color: #f28ec1;
}
/* #6d9abb
#59c8d0 */
.admin-chart3-check-box2 {
    background-color: #6d9abb;
}

.admin-chart3-check-box3 {
    background-color: #59c8d0;
}

.admin-chart3-check-box1-sub,
.admin-chart3-check-box2-sub,
.admin-chart3-check-box3-sub {
    font-size: 1.2vw;
    color: rgb(51, 51, 51);
}

.admin-content-chart4 {
    /* position: absolute; */
    width: 24.2vw;
    height: 41vw;
}

.admin-content-chart4-up {
    background-color: rgb(228, 198, 183);
    box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 20%);
    height: 24vw;
    border-radius: 1.9vw;
    padding: 2vw;
    z-index: 10;
}

.admin-content-chart4-up-title {
    font-size: 1.5vw;
    color: rgb(51, 51, 51);
}

.admin-content-chart4-up-title-sub {
    font-size: 1vw;
    margin: 1.2vw 0;
    color: rgb(51, 51, 51);
}

.admin-content-chart4-up-money {
    margin: 1.3vw 0 0 0;
    font-size: 3vw;
    color: rgb(51, 51, 51);
}

.admin-content-chart4-up-chart {
    width: 24.2vw;
    margin: -1vw 0 0 -2vw;
    border-radius: 0 0 1.9vw 1.9vw;
}

.admin-content-chart4-down {
    margin: 2vw 0;
    background-color: rgb(250, 236, 229);
    box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 20%);
    height: 15vw;
    border-radius: 1.9vw;
    padding: 2vw;
    width: 24.24vw;
}

.admin-content-chart4-down-title {
    font-size: 1.5vw;
    color: rgb(51, 51, 51);
}

.admin-content-chart4-down-title-sub {
    font-size: 1vw;
    margin: 1.2vw 0;
    color: rgb(51, 51, 51);
}

.admin-content-chart4-down-money {
    margin: -6vw 14vw;
    font-size: 3vw;
    color: rgb(51, 51, 51);
}

.admin-content-chart4-down-chart {
    width: 24.4vw;
    margin: 8.9vw 0 0 -2.2vw;
    border-radius: 0 0 1.9vw 1.9vw;
}

.admin-main3 {
    position: relative;
    margin: 18vw 0 0 22vw;
    width: 74.7vw;
    height: 76vw;
    background-color: rgb(228, 198, 183);
    border-radius: 1.9vw;
    padding: 2vw;
    box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 20%);
}

.admin-main3-header {
    position: absolute;
    width: 94.6%;
}

.admin-main3-title {
    font-size: 1.5vw;
    color: rgb(51, 51, 51);
}

.admin-main3-content {
    margin: 5vw 0 0 0;
    width: 100%;
    height: 94%;
}

.admin-input-area {
    border: none;
    outline: none;
    padding: 1.5vw;
    border-radius: 1.9vw;
    font-size: 1.2vw;
}

.admin-main3-content-header {
    margin: 0 0 2.5vw 0;
    display: flex;
    justify-content: space-between;
}

.admin-input-title {
    width: 65%;
    transition: 0.25s;
    height: 2.5vw;
}

.admin-input-author {
    width: 33%;
    border-radius: 1.9vw;
    transition: 0.25s;
    height: 2.5vw;
}

.admin-main3-content-content {
    margin: 2vw 0;
    display: flex;
    transition: 0.25s;
    justify-content: center;
}

.admin-input-content {
    resize: none;
}

.admin-input-img {
    margin: 2.7vw 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.admin-input-img-img,
.admin-input-img-icon,
.admin-input-img-video {
    width: 22.5vw;
    height: 5vw;
    background-color: rgb(250, 236, 229);
    border-radius: 1.9vw;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.5vw;
    color: rgb(51, 51, 51);
    transition: 0.25s;
}

.admin-main3-content-footer {
    margin: 2vw 0;
    display: flex;
    justify-content: space-between;
}

.admin-input-note {
    width: 57%;
    height: 17vw;
    resize: none;
    transition: 0.25s;
}

.admin-input-favicon {
    width: 40%;
    height: 10vw;
    background-color: rgb(250, 236, 229);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.5vw;
    color: rgb(51, 51, 51);
    transition: 0.25s;
}

.admin-input-submit {
    position: absolute;
    width: 37.8%;
    margin: -6.7vw 42.4vw;
    color: #fff;
    transition: 0.25s;
    background-color: #c56e17;
}

.admin-input-img-img:hover,
.admin-input-img-icon:hover,
.admin-input-img-video:hover,
.admin-input-favicon:hover {
    background-color: #c56e17;
    cursor: pointer;
    transition: 0.25s;
    color: #fff;
}

.admin-input-submit:hover {
    cursor: pointer;
    background-color: #9b5713;
    transition: 0.25s;
}

.admin-footer-main {
    display: flex;
    justify-content: space-between;
    margin: 2.5vw 0 0 20vw;
    width: 78.7vw;
    height: 4vw;
    background-color: rgb(228, 198, 183);
}

.admin-footer-right {
    margin: 0 1.1vw;
    padding: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20vw;
    height: 4vw;
}

.admin-footer-left {
    padding: 0 2.5vw;
    display: flex;
    align-items: center;
    width: 15.9vw;
    height: 4vw;
}

.admin-footer-link {
    text-decoration: none;
    color: rgb(51, 51, 51);
    transition: 0.25s;
    font-size: 1.2vw;
}

.admin-footer-link:hover {
    cursor: pointer;
    color: #c56e17;
    transition: 0.25s;
}