.admin-header-main {
    position: relative;
    width: 78.7vw;
    height: 15vw;
    background-color: rgb(228, 198, 183);
    margin: 1vw 20vw;
}


.admin-header-main-inside {
    position: absolute;
    margin: 2vw;
    width: 95%;
    height: 74%;
    display: flex;
    justify-content: space-between;
}

.admin-header-main-title {
    margin: 1.1vw 0;
    width: 20vw;
    height: 10vw;
    line-height: 3vw;
}

.admin-header-main-title h2 {
    font-size: 1.5vw;
    color: rgb(51, 51, 51);
}

.admin-header-main-title h5 {
    font-size: 1vw;
    color: rgb(85, 85, 85);
}

.admin-header-main-btn {
    margin: 3vw 0vw;
    width: 23vw;
    height: 3vw;
}

.admin-header-main-btn-manage {
    text-decoration: none;
    padding: 0.6vw 2vw;
    border: 0.15vw solid #fff;
    color: #fff;
    background-color: transparent;
    font-size: 1.1vw;
    border-radius: 1.9vw;
    transition: 0.25s;
}

.admin-header-main-btn-manage:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
    transition: 0.25s;
}

.admin-header-main-btn-add {
    width: 13vw;
    font-size: 1.1vw;
    height: 3vw;
    margin: 0 0 0 1vw;
    border: none;
    background-color: rgb(250, 236, 229);
    transition: 0.25s;
    border-radius: 1.9vw;
}

.admin-header-main-btn-add:hover {
    cursor: pointer;
    color: #fff;
    transition: 0.25s;
    background-color: #c56e17;
}
