.BA-Shape{
    /* margin-left: 25vw; */
    margin-top: 3vw;
    width: 70vw;
    height: 10vw;
    background-color:rgb(250, 236, 229);
    border-radius: 1.9vw ;
    box-shadow: 0 5px 10px 0 rgba(0,0,0, .2);
    font-size: 1.9vw;
    
}
.BA-Shape-img{
    width: 3vw;
    height: 3vw;
    margin-left: 3vw;
    margin-top: 1vw;
    cursor: pointer;
}
.shape-1{
    border-radius: 5px;
}
.shape-2{
    border-radius: 50%;
}