.nav-search-goal-img {
    width: 9.1vw;
    margin: 0.6vw 0 0.6vw 0.5vw;
    border-radius: 1.9vw;
}

.nav-search-goal-text {
    margin: 1vw 1vw 0 1vw;
    font-size: 1.4vw;
}

.nav-search-goal-text-model-name,
.nav-search-goal-text-composer {
    font-size: 1vw;
}