
.new{
   background-image: url(/images/background.jpg);
    width: 650px;
    border-radius: 25px;
    padding:80px;
    position: absolute;
    left:630px;
    box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 20%);
}
.entry_title{
   font-size:35px;
}
.entry-media >  span {
   font-size:20px;
   color: black;
}
#link_author{
   text-decoration: blink;
}
.entry-content > p {
   font-size: 20px;
}


.image {
   border-radius: 50px;
   margin-left: -75px;
   padding: 15px;  
}
.image > span {
   display: block;
   text-align: center;
}
.tradition_base > p {
font-size: 20px;
color: black;
}

.tradition_base > img {
   border-radius: 50px;
   margin-left:50px;
}
.base > img {
   border-radius:50px;
   margin-left:-65px;
   padding: 10px;
}
.base > p {
   text-align: center;
   margin: 40px 0px;
}