body {
    background-image: url(/Boar/images/background.jpg);
}
.boar{
    background-color: white;
    width: 40%;
    border-radius: 25px;
    padding:40px;
    margin: 0px auto;
    box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 20%);
}
.boar_top .boar_title{
    font-size: 35px;
    font-weight: bold;
    display:block;
    padding-bottom: 10px;
}
.boar_content{
    font-size: 20px;
}
.boar_title-author{
    color: #999;
    font-size: 20px;
    cursor: pointer;
    display:block;
    padding-bottom: 5px;
}
.boar_title-author a{
    text-decoration: none;
}
.boar_origami .b_images{
    display:block;
    margin:0px auto;
}
.boar_bottom{
    font-size: 20px;
    display:block;
    text-align: center ;
    padding-top:10px;
    color: #999;
}




