.Header-401{
    width: 100%;
    height: 90vh;
    text-align: center;
    background-color: rgb(251 226 214); 
}

.ErrorPage{
    margin-top: 5vw;
    font-size: 10vw;
}
.ErrorPage_2{
    font-size: 3vw;
}
.PageNotFound-Details{
    font-size: 2vw;
}
.PageNotFound-btn{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color:#c56e17;
    padding:1vw 2vw;
    border-radius: 25px;
    transition: 0.25s;
}
.PageNotFound-btn:hover{
    padding:1vw 5vw;
    background-color: #9b5713;
    transition: 0.25s;
    color: #fff;
}