.header p {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 600;
  }
  .header span {
    margin-bottom: 20px;
    font-size: 20px;
  }
  p.char_text{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
  }
  .footer span {
    margin-bottom: 50px;
    word-break: break-all;
  }
  .footer_img {
    margin-top: 25px;
  }
  .footer_img > img{
    width: 100%;
  }
  .footer p{
     font-weight: 600;    
  }

  .main_content{
    width: calc(100% - 20vw);
    margin-left: 20vw;
    padding: 15px;
    background-color: #faddbb;
  }

  .char-box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
  }

  .char-box > div{
    width: 50%;
  }

  .char-box > div > img{
    width: 90%;
  }
  .char-box:first-child > div > img{
    height: 265px;
  }